@import url('https://fonts.googleapis.com/css?family=Arapey|Headland+One|Poly|Roboto+Slab|Special+Elite|Taviraj&display=swap');

*{
	font-family: Sans-serif;
	color: white;
	margin:0px;
}
body{
	background-color:black;
	
}
nav{
	position:fixed;
	z-index: 1;
	width:100%;
	border-bottom:3px gray;
	height:50px;
	padding:10px;
	color: white;
	-webkit-box-shadow: 0 8px 6px -6px white;
	-moz-box-shadow: 0 8px 6px -6px white;
		box-shadow: 0 8px 6px -6px white;
	background-color:black;
}
nav a{
	float: right;
	margin-right: 5px;
	margin:15px 40px 5px 5px;
	text-decoration: none;
}


header{
	background-image: url("img/header.png");
	background-repeat: no-repeat;
	background-position: 0px 50px;
	background-attachment: fixed;
	height:300px;
	width:100%;
	margin:auto;
	padding-top:50px;
	color: white;
 }
 .transition
 {
	background-image: url("img/transition.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	height:300px;
	width:100%;
	margin:auto;
	margin-top: 50px;
    margin-bottom: 30px;
	padding-top:50px;
	color: white;
 }
 
h1{
	float:left;
	margin:15px 0 10px 20px;
	color:#FFC029;
}

h2{
	font-family: 'Roboto Slab', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	color:#FFC029;
	font-size:70px;
}
h3{
	color:#FFC029;
	padding:10px 0px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size:30px;
}
h4{
	color:#FFC029;
	margin-bottom: 10px;
	margin-top: 10px;
}
main{
	
	padding: 20px 15px 10px 15px;
	width:80%;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(255,255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
footer{
	width:80%;
	height:50px;
	margin:auto;
	padding-top: 50px;
	clear: both;
	}
.presentation{
	text-align: center;
}

.about{
	float: left;
	}
.contact{
	float: right;
	}
main img {
    -moz-box-shadow: 5px 4px 5px #333333;
    -webkit-box-shadow: 5px 4px 5px #333333;
    box-shadow: 5px 4px 5px #333333;
	alignment-adjust:middle;
	border:solid 12px #ffffff;
	-webkit-transform: rotate(353deg);
	-moz-transform: rotate(353deg);
	-o-transform: rotate(353deg);
	-ms-transform: rotate(353deg);
	padding: 0 ;
	margin:50px 0 50px 0;
	}
	.products {
	margin-left: auto;
	margin-right: auto;
	}
	.prodpair {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.produnpair {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
	}
	.certer {
	text-align: center;

}
	.leftimg {
		
		margin-left: auto;
		margin-right: auto;
	}
	.leftcontent{
		  
		float: left;
		width:40%;
	}
	.rightcontent{
		padding:10px 0 10px 0;
		float: right;
		width:40%;
	}
	.prodpair img{
	
		width:30%;
		margin-left: 15%;
	}
	.produnpair img{
		float: right;
		width:30%;
		margin-right:15%;
	}

	.full{
		padding:10px 0 10px 0;
		clear: both;
		width:90%;
		height: 50px;	
	}
	.smlinks img{
	float: right;
	margin-right: 5px;
	margin:5px 5px 5px 5px;
	text-decoration: none;

}
.contact input select textarea option {
	color:black;
}
.form{
	text-align: center;
}

.bottons {
	text-align: center;
	margin-top:30px;
	text-decoration: none;
	padding: 12px 30px;
	color: #000;
	background-color: #FFEB30;
	font-family: 'Roboto Slab', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.bottons a{
	margin-top:30px;
}
.bottons:hover {
	color: #ffffff;
	background-color: #FFC029;
	margin-top:30px;
}
.bottons:active {
	background: #FFEB30;
	margin-top:30px;
}


